<div class="section-wrapper">
    <section class="section research summary" id="research summary">
        <div id="research summary-text">
            <div class="section-heading">Research Summary</div>
            <img src="assets/images/IMG_3071.JPG">
            </p>  
             <font size="+1">   Hi! My name is Baptiste Wijas. I am a Post Doctoral Research Fellow in Amy Zanne's lab. Research interests include (but not limited to!):<br />
            </p>    
                <strong><font size="+2"><font color="green">- Landscape ecology</font><br />
                - <font color="#A9731F">Trophic cascades</font><br />
                - Carbon cycling<br /></font></strong>
            </p>      
                I have soft spot for <font color="#FF9B00">deserts</font> as it was the focus of my PhD research carried out at UNSW Sydney. But now, I have expanded to tropical ecosystems including savannas and <font color="#2D9306">rainforests</font>.<br />
            </p>    
                At the moment, I focus on deadwood decomposition and its influence on carbon and nutrient cycling through termite and microbial consumers. This interaction between different living organisms help us understand ecosystem function and carbon cycling from local to global scales. 
            </p>    
                You can keep up with my latest research on my <font color="light blue">Google Scholar</font>.</font>
                </p>  
                <img src="assets/images/IMG_7050.jpeg">
          </div>
    </section>
</div>
