<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Research Summary</div>
            </p>
             <font size="+1">   Hi! My name is Baptiste Wijas. I am a Post Doctoral Research Fellow in Amy Zanne's lab. Research interests include (but not limited to!):<br />
            </p>    
                <font size="+2">- Landscape ecology<br />
                - Trophic cascades<br />
                - Carbon cycling<br /></font>
            </p>      
                I have soft spot for deserts as it was the focus of my PhD reserach carried out at UNSW Sydney. But now, I have expanded to tropical ecosystems including savannas and rainforests.<br />
            </p>    
                At the moment, I focus on deadwood decomposition and its influence on carbon and nutrient cycling through termite and microbial consumers. The interactions between different living organisms help us to undesrtand ecosystem fucntion and carbon cycling from local to global scales. 
            </p>    
                You can keep up with my latest research on my Google Scholar.</font> 
          </div>
    </section>
</div>
